.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-main {
  height: 10vh;
  line-height: 10vh;
}
.footer-main > div {
  color: lightgreen;
}

.header-main {
  height: 10vh;
  vertical-align: middle;
  overflow: hidden;
}

.board-main {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
}

.square-main {
  border: 2px solid white;
  line-height: 16vh;
  flex-basis: 18vw;
  height: 16vh;
}
.square-main > img {
  vertical-align: middle;
  max-width: 90%;
  max-height: 95%;
}
